@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.default-container {
    @apply
        container px-6 mx-auto
}

.primary-button {
    @apply
        inline-block
        mt-8 px-8 py-4
        text-xl bg-primary-0 text-white font-normal font-siliguri rounded
        hover:bg-primary-0/80 hover:shadow-md
        duration-300
        transition
}

/* About Box Start */
.about-responsive {
    @apply
        w-full
        flex flex-col-reverse
        pt-16
}

.about-box {
    @apply
        -mt-16
        flex flex-col items-center justify-center
        text-base text-center font-siliguri font-medium

        lg:text-xl
}

.about-icon {
    @apply
        w-12 h-12
        mt-16 mb-2

        lg:mt-0 lg:w-16 lg:h-16

}

.about-span {

}

.about-title {
    @apply
        mt-2
        text-3xl font-siliguri font-medium

        lg:text-6xl
}

.about-description {
    @apply
        text-lg font-siliguri font-medium
        lg:text-2xl
}

.about-image {
    @apply
        w-full h-full
        hidden

        md:block
}

.about-btn {
    @apply
        inline mt-4
        text-base text-primary-0

        md:text-[22px]
}
/* About Box End */


/*-- Hero Start --*/
.main-logo {
    @apply
        absolute
        left-0
        max-w-[20px]
}
.navbar-link {
    @apply
        mr-4
        text-xl font-normal text-primary-0
        hover:text-primary-0/80
}
.hero {
    @apply
        text-center
}
.hero-image {
    @apply
        absolute
        max-w-[1440px] overflow-hidden
        bg-cover bg-center bg-no-repeat
        left-0 top-0 -z-10
}
.hero-heading-primary {
    @apply
        mb-4 text-5xl font-bold text-white font-siliguri leading-snug
        lg:text-[70px]
}
.hero-heading-primary-span {
    @apply
        text-xl font-normal text-white font-siliguri
}
/*-- Hero End --*/


/*-- All Coruse Start --*/
.all-course {
    @apply
        lg:flex lg:flex-row lg:text-left
        pt-16
        text-center
}
.all-course-text {
    @apply
    lg:w-[44rem] lg:border-l-4 lg:border-primary-0
    mb-4
    space-y-6
}
.all-course-text-border {
    @apply
        lg:hidden
        w-64 h-1 mx-auto
        bg-primary-0
}
.all-course-text-heading {
    @apply
        lg:pl-8
        text-3xl font-medium text-black font-siliguri
}
.all-course-text-span {
    @apply
        text-primary-0
}
.all-course-btn {
    @apply
        px-6 py-2
        text-white text-[22px] font-normal font-siliguri
        bg-primary-0
        border border-primary-0 rounded
        hover:text-primary-0 hover:bg-transparent hover:border hover:border-primary-0 hover:shadow-md
        transition-all duration-500
}
/*-- All Coruse End --*/


/*-- Semester Coruse Start --*/
.course-semester {
    @apply
        w-full
}
.course-semester-card {
    @apply
        w-full
        bg-gray-100
        rounded
        hover:shadow-md hover:duration-500 transition
}
.course-semester-card-box {
    @apply
        w-full h-56
        bg-blue-500
        rounded
}
.course-semester-card-box-image {
}
.course-semester-card-box-span {
    @apply
        w-full h-full flex items-center justify-center
        text-center text-2xl text-white font-poppins font-medium leading-8
}
.course-semester-card-counter {
    @apply
        flex items-center justify-between
        px-6 py-4
        text-lg text-black font-medium font-poppins leading-6
}
.course-semester-card-counter-courses {
    @apply
        flex flex-col items-center
}
.course-semester-card-counter-videos {
    @apply
        flex flex-col items-center
}
/*-- Semester Coruse End --*/


/*-- Akida Coruse Start --*/
.course-akida-responsive {
    @apply
        w-full
        space-x-8
}
.course-akida-card {
    @apply
        flex
        w-full h-36
        space-x-8
        bg-gray-100
        rounded
}
.course-akida-card-image {
    @apply
        w-5/12 h-36
        flex items-center justify-center
        text-xl text-white font-siliguri font-medium
        bg-red-400
        rounded
}
.course-akida-card-details {
    @apply
        w-full h-full
        flex flex-col justify-between
        pr-8 py-4
}
.course-akida-card-title {
    @apply
        text-2xl font-siliguri font-medium
}
.course-akida-card-span {
    @apply
        flex items-center justify-between

}
.course-akida-card-span-class {
    @apply
        flex items-center gap-2
        text-base font-siliguri font-medium
}
/*-- Akida Coruse End --*/

/*-- Slide Card Start --*/
.slide-card-image {
    @apply
        w-full h-[213px]
        flex items-center justify-center
        text-center text-white text-2xl font-siliguri font-medium
        bg-red-500 rounded-md
}
.slide-card-content {
    @apply
        px-4 py-2 text-black font-siliguri text-left
}
/*-- Slide Card End --*/


/*-- Testimonial Start --*/
.testimonial {
    @apply
        w-full
        my-16 px-8 py-16
        text-center bg-black text-white
        rounded-md

        hover:shadow-gray-500 hover:shadow-lg hover:duration-300 transition
}
.card-left {

}
.card-left-text {
    @apply
        mb-2
        text-2xl text-white font-siliguri font-medium

        lg:text-3xl
}
.card-right {
    @apply
        text-white/80
        flex justify-between
        px-16 my-8 text-left
}
.card {
    @apply
        space-y-4
}

/*-- Testimonial End --*/


/*-- Islami Akida Coruse Start --*/

/*-- Islami Akida Coruse End --*/


/*-- Islami Akida Coruse Start --*/
/*-- Islami Akida Coruse End --*/


/*-- Islami Akida Coruse Start --*/

/*-- Islami Akida Coruse Start End --*/
