@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.default-container {
    @apply
        container px-6 mx-auto

        md:px-8
}

.primary-button {
    @apply
        inline-block
        px-8 py-4
        text-xl bg-primary-0 text-white font-normal font-siliguri rounded
        hover:bg-primary-0/80 hover:shadow-md
        duration-300
        transition
}

.secondary-button {
    @apply
        px-6 py-2
        text-white text-[22px] font-normal font-siliguri
        bg-primary-0
        border border-primary-0 rounded
        hover:text-primary-0 hover:bg-transparent hover:border hover:border-primary-0 hover:shadow-md
        transition-all duration-500
}

/*-- Header Start --*/
.header {
    @apply
        relative
        w-full min-h-screen
}
.header-img {
    @apply
        absolute
        w-full h-full
        -z-10
}
.nav {
    @apply
        px-4
        flex items-center justify-between
}
.nav-logo {
    @apply
        w-[200px] h-auto
        lg:w-[250px] lg:h-auto
}
.nav-list {
    @apply
        font-medium
        flex flex-col p-4
        md:p-0 mt-4 bg-gray-50
        border border-gray-100 rounded-lg
        md:flex-row md:space-x-2 md:mt-0 md:border-0 md:bg-white
}
.nav-link {
    @apply
        block py-2 pl-3 pr-1 ml-4
        text-base font-poppins font-normal text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent

        md:border-0 md:hover:text-primary-0 md:p-0 lg:text-xl
}
.nav-auth {
    @apply
        hidden
        space-x-4
        lg:block
}
.nav-auth-link {
    @apply
        text-base font-poppins font-normal
        text-black
        duration-300
        transition-all
        hover:text-primary-0

        ml-4
}
.hamburger {
    @apply
        p-2 rounded-md text-gray-400
        inline-flex items-center justify-center
        hover:text-gray-500 hover:bg-gray-100
        focus:outline-none focus:bg-gray-100 focus:text-gray-500
        transition duration-150 ease-in-out
}
.hero {
    @apply
        text-center
        w-full min-h-screen
        flex flex-col items-center justify-center

        md:text-left md:items-start
}
.hero-heading {
    @apply
        mb-[4px] text-5xl font-bold text-white font-siliguri leading-snug
        lg:text-[70px]
}
.hero-heading-span {
    @apply
        mb-[0px] text-xl font-normal text-white font-siliguri
}
/*-- Header End --*/


/*-- All Coruse Start --*/
.courses-responsive {
    @apply
        pt-16 mb-8
        flex flex-col items-center justify-center
        gap-2

        md:flex-row  md:justify-between md:pt-20

}
.courses-box {
    @apply
        md:flex
}
.courses-content {
    @apply
        md:flex  md:gap-4
}
.courses-devider {
    @apply
        bg-primary-0
        w-1/3 h-1 mx-auto mb-4
        md:w-1 md:h-auto md:ml-0 md:mr-0 md:mt-2
}
.courses-heading-top {
    @apply
    text-2xl font-medium text-black font-siliguri text-center

    lg:text-3xl md:text-left
    lg:pl-8
}
.courses-heading-bottom {
    @apply
    text-2xl font-medium text-black font-siliguri text-center

    md:text-3xl md:text-left
    lg:pl-8
}
.courses-span {
    @apply
        text-primary-0
}
.courses-button {
    @apply
        flex items-center justify-center

        md:items-center md:justify-end
}
.courses-btn {
    @apply
        px-6 py-2
        text-white text-base font-normal font-siliguri
        bg-primary-0
        border border-primary-0 rounded
        hover:text-primary-0 hover:bg-transparent hover:border hover:border-primary-0 hover:shadow-md
        transition-all duration-500

        md:text-xl lg:text-[22px]
}
/*-- All Coruse End --*/

/*-- Semester Coruse Start --*/
.semester-responsive {
    @apply
        w-full
        grid grid-cols-1
        gap-6

        md:grid-cols-2 lg:grid-cols-4
        md:gap-8
}
.semester-card {
    @apply
        w-full
        bg-gray-100
        rounded
        hover:shadow-md hover:duration-500 transition
}
.semester-card-box {
    @apply
        w-full h-56
        bg-blue-500
        rounded
}
.semester-card-box-image {
}
.semester-card-box-span {
    @apply
        w-full h-full flex items-center justify-center
        text-center text-2xl text-white font-poppins font-medium leading-8
}
.semester-card-counter {
    @apply
        flex items-center justify-between
        px-6 py-4
        text-lg text-black font-medium font-poppins leading-6
}
.semester-card-counter-courses {
    @apply
        flex flex-col items-center
}
.semester-card-counter-videos {
    @apply
        flex flex-col items-center
}
/*-- Semester Coruse End --*/

/*-- Akida Coruse Start --*/
.akida-responsive {
    @apply
        grid grid-cols-1
        gap-4

        md:gap-8 md:grid-cols-2
}
.akida-due-card {
    @apply
        space-y-4

        md:space-y-6
}
.akida-single-card {
    @apply
        duration-300
        transition-all
        hover:shadow-md
}
.course-akida-card {
    @apply
        flex
        w-full h-36
        space-x-8
        bg-gray-100
        rounded
}
.course-akida-card-image {
    @apply
        w-5/12 h-36
        flex items-center justify-center
        text-xl text-white font-siliguri font-medium
        bg-red-400
        rounded

        md:w-7/12
}
.course-akida-card-details {
    @apply
        w-full h-full
        flex flex-col justify-between
        pr-8 py-4
}
.course-akida-card-title {
    @apply
        text-2xl font-siliguri font-medium

        md:text-[1.21rem]
        lg:text-2xl
}
.course-akida-card-span {
    @apply
        flex items-center justify-between

}
.course-akida-card-span-class {
    @apply
        flex items-center gap-2
        text-base font-siliguri font-medium
}
/*-- Akida Coruse End --*/

/* About Box Start */
.about-responsive {
    @apply
        w-full
        flex-col-reverse
        pt-16

        md:flex md:flex-row md:space-x-4 md:justify-between md:items-center
}

.about-box {
    @apply
        -mt-16
        flex flex-col items-center justify-center
        text-base text-center font-siliguri font-medium


        md:items-start md:w-2/3 md:text-left lg:text-xl
}

.about-icon {
    @apply
        w-12 h-12
        mt-16 mb-2

        lg:mt-0 lg:w-16 lg:h-16

}

.about-span {

}

.about-title {
    @apply
        my-2
        text-3xl font-siliguri font-medium

        md:text-[34px] lg:text-5xl
}

.about-description {
    @apply
        text-lg font-siliguri font-medium
        md:w-[450px]
        lg:w-[690px] lg:text-2xl
}

.about-image {
    @apply
        w-full h-full
        hidden

        md:block
}
.about-img {
    @apply
        md:w-[515px] md:h-[415px] md:ml-16
}

.about-btn {
    @apply
        inline mt-4
        text-base text-primary-0
        duration-300 transition-all

        md:text-2xl hover:text-primary-0/80
}
/* About Box End */

/*-- Slide Card Start --*/
.slide-card-image {
    @apply
        w-full h-[213px]
        flex items-center justify-center
        text-center text-white text-2xl font-siliguri font-medium
        bg-red-500 rounded-md
}
.slide-card-content {
    @apply
        px-4 py-2 text-black font-siliguri text-left
}
/*-- Slide Card End --*/


/*-- Testimonial Start --*/
.testimonial {
    @apply
        relative
        w-full h-[300px]
        my-16 px-8
        text-center bg-black text-white
        rounded-3xl
        flex items-center

        hover:shadow-gray-500 hover:shadow-md hover:duration-300 transition

        md:flex
}
.testimonial-img {
    @apply
        absolute
        left-0 right-0 w-full h-full
        rounded-2xl overflow-hidden
}
.card-left {
    @apply
        md:w-1/2 md:flex md:items-center md:justify-center
}
.card-left-text {
    @apply
        mb-2
        text-2xl text-white font-siliguri font-medium leading-[1.4]

        md:leading-[1.5] lg:leading-[1.5] lg:text-3xl
        xl:text-3xl xl:leading-[1.6]
}
.text-span-1 {
    @apply
        block
}
.text-span-2 {
    @apply
        block
}
.text-span-3 {
    @apply
        block
}
.text-span-4 {
    @apply
        block
}
.card-right {
    @apply
        text-white/80
        flex justify-between
        px-16 my-8 text-left
        z-10

        md:w-1/2
}
.card {
    @apply
        space-y-4
}

/*-- Testimonial End --*/


/*-- Register Start --*/
.register {
    @apply
        md:flex md:items-center md:justify-between
}
.register-content {
    @apply
        font-siliguri text-center

        md:text-left
}
.register-heading {
    @apply
        text-2xl

        md:text-3xl md:mb-2
        lg:text-[40px] lg:leading-[1.2]
        xl:text-5xl xl:leading-[1.2]
}
.register-heading-sub {
    @apply
        text-primary-0
}
.register-span {
    @apply
        text-base text-secondary-0

        md:text-lg lg:text-3xl
}
.register-button {
    @apply
        mt-4
        px-4 py-2
        text-sm bg-primary-0 text-white font-siliguri font-medium
        border rounded

        hover:text-primary-0 hover:bg-transparent hover:border hover:border-primary-0 hover:shadow-md
        transition-all duration-500

        md:text-lg md:mt-6
        lg:text-xl
}

.register-image {
    @apply
        hidden

        md:block
}
.register-img {
    @apply
        md:w-[220px] md:h-auto
        lg:w-[360px] lg:h-[340px]
}
/*-- Register End --*/


/*-- Footer Start --*/
.footer {
    @apply
        w-full
        mt-16 py-8
        bg-black
        text-center

        md:text-left
}
.footer-responsive {
    @apply
        md:flex
}
.footer-content {
    @apply
        text-white

        md:mr-16
}
.footer-logo {
    @apply
        w-64 h-auto
        flex mx-auto
        mb-4

        md:w-[250px] md:h-[115px] md:mx-0
        lg:w-[345px]
}
.footer-title {
    @apply
        text-base font-siliguri
        mb-2

        md:text-lg lg:text-2xl
}
.footer-contact {
    @apply
        text-white/70 text-sm font-poppins

        md:text-[14px] lg:text-lg
}
.footer-link {
    @apply
        w-2/3 mx-auto
        my-8
        flex justify-between
        text-left
}
.footer-company {

}
.footer-item-heading {
    @apply
        mb-4
        text-white font-siliguri font-semibold

        md:text-lg lg:text-2xl
}
.footer-item {
    @apply
        md:text-lg lg:text-2xl
}
.footer-list {
    @apply
        space-y-2

        md:w-1/2
}
.footer-item {
    @apply
        text-white/70
}
.footer-item-link {
    @apply
        font-medium font-siliguri
        hover:text-primary-0 hover:shadow-md hover:duration-300 transition-all
}
.copyright {
    @apply
        w-full h-16
        flex flex-col items-center justify-center

        md:h-32
}
.copyright-heading {
    @apply
        w-full my-auto
        flex items-center justify-center
        text-white text-xs font-poppins font-normal

        md:text-lg lg:text-xl
}
.copyright-span {
    @apply
        mt-[2px]
        text-xs text-center text-white/70

        md:text-sm md:mt-1
        lg:mt-2 lg:text-base
}
.copyright-company {
    @apply
        text-white/80
        duration-300
        transition-all
        hover:text-primary-0
}
/*-- Footer End --*/
